* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2d2e32;
}

a {
    text-decoration: none;
    color: #2d2e32;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 100%;
    background-color: white;
    z-index: 999;
    position: fixed;
    top: 0;
}

nav h2 {
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding: 0 15px;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

}

.col-50 {
    width: 50%;
    position: relative;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;

}

.main-text {
    position: relative;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 20px 0;
}

.main-text h2 {
    font-size: 50px;
}

.main-text p {
    margin: 20px 0;
    color: #555;
    font-weight: 400;
}

.wave {
    width: 12%;
    position: absolute;
    top: 8%;
    right: 15%;
    animation: wave 3s steps(12) infinite;
}

.self {
    text-align: center;
    height: 330px;
    width: 220px;
    overflow: hidden;
    border: 3px double black;
    border-radius: 85px;
}

.self img {
    width: 100%;
}

.git a {
    padding: 0 5px;
}

.tech {
    display: flex;
    align-items: center;
}

.tech h4 {
    width: 15%;
}

.soft {
    margin-left: 30px;
}

.soft img {
    width: 6%;
    margin: 0 10px;
    cursor: pointer;
    transition: .4s all;
}

.soft img:hover {
    transform: translateY(-10px);
}

.line {
    display: inline;
    width: 3px;
    height: 20px;
    background-color: rgba(45, 46, 50, .5);
    margin: 0 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    box-shadow: 4px 4px 8px rgba(82, 72, 72, 0.315);
    border-radius: 20px;
}

.info>div {
    margin: 0 15px;
}

.info img {
    width: 100%;
    border-radius: 20px;
}

.info h4 {
    font-weight: 800;
    color: #147efb;
}

.info h2 {
    font-size: 22px;
    margin: 10px 0;
}

.info p {
    color: #767676;
    font-weight: 400;
}

.round {
    width: 150px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    left: -10%;
}

#emoji {
    width: 47%;
    position: absolute;
    top: 24%;
    left: 24%;
}

.circle {
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wd {
    display: inline-block;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(12) infinite;
}

@keyframes wave {
    from {
        left: 0;
    }

    to {
        left: 74%;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

#project {
    margin: 50px 0;
}

#project h4 {
    color: #147efb;
}

.p-1 {
    display: flex;
    margin: 20px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px rgba(82, 72, 72, 0.315);
    border-radius: 20px;
    transition: .2s linear;
}

.p-1 img {
    width: 55%;
    height: 100%;
    border-radius: 20px;
}

.col {
    text-align: center;
    width: 100%;
    padding: 20px 40px;
}

.nt {
    color: red;
    margin-bottom: 10px;
}

.dc {
    color: #147efb;
    margin-bottom: 10px;
}

.bcci {
    color: #033d8e;
    margin-bottom: 10px;
}

.ola {
    color: #a7d200;
    margin-bottom: 10px;
}

.link {
    margin: 30px 0 10px;
    font-weight: 700;
}

.link a {
    margin: 0 10px;
}

.p-1:hover {
    transform: scale(1.07);
}


#contact {
    margin: 90px 0;
}

#contact h4 {
    color: #147efb;
}

#contact h2 {
    font-size: 29px;
    margin: 10px 0;
}

.icon {
    display: flex;
    gap: 100px;
    margin: 50px 0 20px;
}

.i-mini {
    display: flex;
    align-items: center;
    gap: 20px;
}

.i-mini p {
    cursor: pointer;
}

.i-mini span {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(82, 72, 72, 0.315);
    color: #147efb;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #2d2e32;
    color: white;
    font-weight: 800;
}

footer a {
    color: white;
    font-size: 25px;
    padding: 0 10px;
}



/* Media query */

@media (max-width: 992px) {
    #content {
        width: 90%;
    }

    .soft img {
        width: 9%;
    }

    .p-1 img {
        height: auto !important;
    }

    .inf {
        padding: 20px;
    }

    .wave {
        top: 10%;
        width: 15%;
    }
}

@media(max-width:768px) {}