<nav class="navbar navbar-light navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            alt="BookMyShow Logo"
            src="uploads/logo/LOGO.png"
          />
        </a>
        <form class="d-flex mx-auto">
          <input
            aria-label="Search"
            class="form-control me-2"
            placeholder="Search for Movies, Events, Plays, Sports and Activities"
            type="search"
          />
        </form>
        <div class="d-flex align-items-center">
          <a href="/form"><button class="btn btn-signin me-3">Add Movie</button></a>
          <button class="btn btn-outline-secondary">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="container-fluid">
        <ul class="navbar-nav me-1 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"> Movies </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Stream </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Events </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Plays </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Sports </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Activities </a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"> ListYourShow </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Corporates </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Offers </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Gift Cards </a>
          </li>
        </ul>
      </div>
    </nav>